NEXT_PUBLIC_SUPABASE_URL=https://ounfzvbdgfatzrewtxww.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im91bmZ6dmJkZ2ZhdHpyZXd0eHd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MzY3ODgsImV4cCI6MjA5MzMxMjc4OH0.b2o84gSTW5bUFAmYZObB7VLuHMJgJaDfBrZisCegMjw
NEXT_PUBLIC_SITE_URL=http://localhost:3000