NEXT_PUBLIC_SUPABASE_URL=https://ounfzvbdgfatzrewtxww.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im91bmZ6dmJkZ2ZhdHpyZXd0eHd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MzY3ODgsImV4cCI6MjA5MzMxMjc4OH0.b2o84gSTW5bUFAmYZObB7VLuHMJgJaDfBrZisCegMjw
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Super Admin Configuration
# 1. Sign up at /signup with this email
# 2. Use any password (e.g. admin1234)
SUPER_ADMIN_EMAILS=admin@fixflow.com
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here